body{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

@font-face {
    font-family: Bastille Vredeburg Demo;
    src: url(Bastille.ttf);
}
.contenedor{
    width: 100%;
}

header{
    .nav-logo{
        background-color: rgb(255,239,237);
        margin: 0%;
    }
    .logo{
        text-align: center;
        font-family: Bastille Vredeburg Demo;
        font-size: 525%;
        margin: 0%;
        color: darkred;
        text-decoration: none;
    }
    .subt{
        text-align: center;
        margin: 0%;
        padding-bottom: 1%;
        color: darkred;
    }
    .menu{
        .menu-lista{
            display: inline-flex;
            list-style: none;
            li{
               a{   
            text-decoration:none;
            text-transform: uppercase;
            margin: 10px 20px; 
            text-align: left;
            color: darkred;
            
                }     
            }
        }
    }
}

main{
    .grid-layout{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 80%;
        margin: 0 auto;
        .caja{    
            margin: 3%;
            height:auto;
            overflow: hidden;
            .zoom{
                transition: 0.5s;
                object-fit: cover;
            }
            .zoom:hover{
                transform: scale(1.5);
            }
        }
    }
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: 0 auto;
    .card{
        margin: 3%;
        margin-bottom: 1%;
        .producto{
            width: 100%;
            height: 100%;
        }  
    }
    .desc{
        margin: 3%;
        margin-top: 0%;
        background-color: bisque;
    }
}

.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0%;
    .icono{
        font-size: 200%;
        color: darkred;
        text-align: right;
        margin: 1%;
        margin-right: 4%;
    }
    .red{
        text-align: left;
        font-size: 100%;
        color: darkred;
        margin-left: 0%;
    }
}

.maps{
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
}

nav{
   
    background-color: bisque;
}

.fondo{
    background-image: url("../f20.jpg");
}
.nosotros{
    width: 80%;
    margin-left:10%;
    padding-bottom: 1%;
        h2{
            margin: 0%;
            padding-top: 1.5% ;
            font-size: 205%;
            font-family: 'Times New Roman', Times, serif;
            color: darkred;
        }
        h3{
            font-size: 205%;
            font-family: 'Times New Roman', Times, serif;
            color: darkred
        }
        p{
            font-size: 160%;
            font-family: 'Times New Roman', Times, serif;
            color: darkred
        }
}

footer{
    margin: 0%;
    padding: 1%;
    background-color: bisque;
    margin-bottom: 0%;
        .final{
            text-align: center;
        }
        .navbar{
            .navbar-menu{
                display: inline flex;
                list-style: none;
                text-decoration: none;
                text-align: center;
            }
        }
    }